body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #0C101B;
    font-family: Poppins, sans-serif;
}

a {
    position: relative;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #182037;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s all;
}

a:hover {
    background: #00ccff;
    box-shadow: 0 0 12px #00ccff;
}

a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 400%;
    background-color: #00ccff;
    transition: 1s;
    animation: animate 2s linear infinite;
}

a:hover::before {
    width: 120%;
}

a::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #182037;
    transition: 0.4s;
}

a:hover::after {
    background-color: #00ccff;
}

a span {
    position: relative;
    z-index: 1;
    font-size: 2em;
    color: #FFFFFF;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}